html
  head
    title="AmiDraw Gallery"
    link(rel='stylesheet', href='/gallery.css')
  body
    h1="Gallery"
    div(class='gallery-body')
      each image in gallery_items
        -
          var iTitle = image.title
          var path = image.imgpath
          var author = image.username
          var id = image.id
        div(class='gallery-item')
          div(class='gallery-item-meta')
            h1(class='gallery-item-title')=iTitle
            h4(class='gallery-item-title')!=author
          a(href!='gallery/' + id): img(src=path class='gallery-img')