html
  head
    title=title
    style(type='text/css').
      img {
        width: 320px;
        height: 180px;
      }
  body
    each image in gallery_items
      -
        var iTitle = image.title
        var path = image.path
        var author = image.creator
        var date = image.date
      h1=iTitle
      h4!='by ' + author + ' on ' + date
      a(href=path): img(src=path)